/* Xử lý mũi tên slide với màn hình <1300 */
@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .container {
    max-width: 90%;
  }
  .header .header__inner .col-lg-2 {
    max-width: calc(2.5 / 12 * 100%);
    flex-basis: calc(2.5 / 12 * 100%);
  }

  .header .header__inner .col-lg-6 {
    max-width: calc(5.5 / 12 * 100%);
    flex-basis: calc(5.5 / 12 * 100%);
  }
}

/* Xử lý màn hình desktop small */
@media screen and (max-width: 1199px) {
  .product-box .owl-theme .owl-nav button.owl-prev,
  .news-box .owl-theme .owl-nav button.owl-prev,
  .brand-box .owl-theme .owl-nav button.owl-prev {
    left: 0;
  }

  .product-box .owl-theme .owl-nav button.owl-next,
  .news-box .owl-theme .owl-nav button.owl-next,
  .brand-box .owl-theme .owl-nav button.owl-next {
    right: 0;
  }

  .header .header__top-bar .header__top-bar--left,
  .header .header__top-bar .header__top-bar--right {
    text-align: center;
  }

  .primary-menu {
    /* display: none !important; */
  }

  .header .header__inner .row > div:nth-of-type(1) {
    order: 1;
  }
  .header .header__inner .row > div:nth-of-type(2) {
    order: 2;
    text-align: center;
  }
  .header .header__inner .row > div:nth-of-type(3) {
    order: 4;
  }
  .header .header__inner .row > div:nth-of-type(4) {
    order: 3;
  }
  .header .header__inner .header__inner--cart {
    justify-content: center;
  }

  .header .menu-toggle {
    display: flex;
    align-items: center;
  }

  .header .menu-toggle label {
    display: block;
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
  }

  .header #toggle-menu:checked ~ .primary-menu {
    /* display: block !important; */
    height: 100vh !important;
  }

  .header .primary-menu ul li {
    display: block !important;
  }

  .header .primary-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 150;
    background: var(--primary-color-opacity);
    top: 100%;
    bottom: 0;
    height: 0 !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    overflow: hidden;
    transition: height 0.2s linear;
  }

  .header .primary-menu ul {
    flex-grow: 1;
    text-align: center;
  }

  .header .primary-menu a {
    color: #fff !important;
  }

  .header .header__inner {
    position: relative;
  }

  .header .primary-menu > ul > li + li::before {
    display: none;
  }
  .header .primary-menu > ul > li > a {
    padding: 5px 15px !important;
  }
  .header .header__inner .primary-menu > ul > li + li > a {
    border-top: 1px solid #fff;
    display: block;
  }
  .header .header__inner .primary-menu > ul > li {
    padding: 0;
  }
  .header .header__inner .primary-menu > ul > li > a {
    display: block;
  }

  .header .header__inner .primary-menu > ul > li ul {
    position: static;
    background: #1636c6b8;
    border-top: 1px solid #fff;
  }

  .header .header__inner .primary-menu > ul > li ul li + li a {
    border-top: 1px solid #fff;
  }

  .header .header__inner .primary-menu > ul > li :hover ul {
    display: none !important;
  }

  .header .header__inner .primary-menu > ul > li :focus-within ul {
    display: block !important;
  }

  .testimonials-box {
    height: 80vh;
  }
  .header .header__inner .row > div:nth-of-type(2) img {
    max-height: 55px;
    width: auto;
  }
}

/* Màn hình ipad, máy tính bảng */
@media screen and (max-width: 991px) {
  .tab-content {
    padding-bottom: 80%;
  }
  .support-box .row > div {
    margin-bottom: 10px;
  }
  .footer .footer__networks .footer__networks--socials li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Màn hình điện thoại */
@media screen and (max-width: 767px) {
  .header .header__top-bar .header__top-bar--left > li,
  .header .header__top-bar .header__top-bar--right > li {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header .header__inner .row > div:nth-of-type(2) {
    margin-bottom: 10px;
  }

  .header .header__inner .row > div:nth-of-type(2) img {
    max-height: 55px;
    width: auto;
  }
  .gallery-box img {
    object-fit: unset;
    height: auto;
  }

  .gallery-box .gallery-box__item {
    height: auto;
  }

  .tab-nav ul li {
    width: 49%;
    margin-bottom: 5px;
  }

  .tab-nav ul li label {
    font-size: 0.9rem;
  }

  .tab-content {
    padding-bottom: 100%;
  }
  .testimonials-box {
    height: 100vh;
  }
  .footer .footer--nav ul {
    flex-wrap: wrap;
  }

  .footer .footer--nav ul li {
    margin-bottom: 7px;
  }
}
